
img.big-image  {
  width: 1024px;
  margin-left: -200px;
}

#header_container {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

#header_title {
  width: 150px;
  float: left;
  text-align: left;
}

#header_title .name {
  font-family: Lato, Verdana, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 158%;
}

#header_title .title {
  font-family: Lato, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  color: #666;
}

#menu {
  float: right;
  margin-top: 10px;
}

#header_nav li {
  list-style-type: none;
  display: inline;
  padding: 10px;
  font-size: 100%;
  font-family: Lato, Verdana, Tahoma, sans-serif;
  font-weight: 600;
  color: #444;
}

img.avatar {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 200px;
  margin-right: 20px;
}

.main_bio {
  font-family: 'Merriweather', Georgia, serif;
  color: #444;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}

.main_bio_1 {
  text-align: right;
}

.socials {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.glyphicons {
  margin: 20px;
}

.cv {
  font-family: 'Merriweather', Georgia, serif;
  color: #444;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 50px;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Merriweather', serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: Lato, Verdana, Tahoma, sans-serif;
  line-height: 54px;
  font-weight: 800;
  color: #444;
}

/* title */
h2 {
  font-size: 48px;
}

/* subtitles */
h3 {
  font-size: 32px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #444; text-decoration: none; }
a:visited { color: #444; }
a:hover   { color: #ff6760; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  margin-left: auto ;
  margin-right: auto ;
}

ul.posts {
  list-style-type: none;
}

ul.posts .date_archive {
  color: #aaa;
  font-size: 80%;
  float: right;
  margin-top: 15px;
}

ul.posts .post_title_archive {
  font-size: 1.4em;
  font-family: Lato, Verdana, Tahoma, sans-serif;
  font-weight: 600;
  color: #444;
  line-height: 40px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  line-height: 1.5em;
}

.content {
  max-width: 720px;
  margin: 3em auto 2em;
  padding-left: 15px;
  padding-right: 15px;
}

.post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post img.emoji {
  display: inline;
}

.site .header {
  background: url(/images/bg-noise-grey-v2.jpg);
  border-bottom: 1px solid #e3e3e4;
  border-top: 6px solid #ff6760;
  background-color: #f5f6f6;
  text-align: center;
  padding: 20px;
  height: 50px;
}

.date {
  font-size: 17px;
  font-family: 'Merriweather', serif;
  color: #aaa;
  font-style: italic;
}

.site .footer {
  border-top: 1px solid #e3e3e4;
  max-width: 42em;
  margin: 3em auto 2em;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-top: 30px;
  text-align: left;
}

.site .footer .avatar {
  float: left;
  margin-top: 5px;
}

.site .footer .bio {
  margin-left: 100px;
  margin-top: 7px;
}

.site .footer .bio .name {
  font-family: Lato, Verdana, Tahoma, sans-serif;
  font-weight: 800;
  font-size: 18px;
  float: left;
}

.site .footer .bio .name a {
  color: #ff6760;
}

.site .footer .bio .description {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  padding-top: 30px;
}

.site .footer .social {
  font-size: 20px;
  float: right;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  margin-bottom: 50px;
  color: #444;
  font-family: 'Merriweather', Georgia, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}

.post blockquote {
  border-left: 5px solid #ff6760;
  padding-left: 20px;
  font-style: italic;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #EDEDED;
  padding: 0 .4em;
  font-size: 15px;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #EDEDED;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post a {
  color: #ff6760;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*
Projects
*/

.single-project {
  color: #444;
  font-family: 'Merriweather', Georgia, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 40px;
}

.project-section-title {
  text-align: right;
}
.project-description {
  text-align: left;
}

.projects img {
  padding: 20px 0px 0px 0px;
}


/*****************************************************************************/
/*
/* Pagination
/*
/*****************************************************************************/

#pagination {
  font-family: Lato, Verdana, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 800;
  height: 50px;
  padding-bottom: 30px;
}

#pagination .next {
  float: right;
}


@media all and (max-width: 1024px) {

  img.big-image  {
    width: 100%;
    margin-left: 0px;
  }

}

@media all and (max-width: 380px) {

  .site .header {
    height: 70px;
  }

  .main_bio_1 {
    text-align: justify;
  }

  img.avatar {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
  }

}
