<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> <!-- RESPONSIVE ! -->

        <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,900italic,900,700italic,700,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>



    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <a href="/">
                <img src="/images/logo.png" height="200px">
              </a>
            </div>

            <div class="content">
                {{ content }}
            </div>

            <div class="footer">
              <div class="avatar">
                <img src="/images/avatar.png" width="80px">
              </div>
              <div class="bio">
                <div class="name">
                  <a href="http://www.marcosero.com" target="_blank">Marco Sero</a><br />
                </div>
                <div class="social">
                  <a href="http://www.twitter.com/marcosero" title="twitter" target="_blank">
                    <i class="icon-twitter"></i>
                  </a>
                  <a href="http://www.github.com/marcosero" title="github" target="_blank">
                    <i class="icon-github"></i>
                  </a>
                </div>
                <div class="description">
                  iOS engineer keen on smart UXs and neat UIs.
                  Making apps at The App Bussiness.
                  Ruby hipster in the spare time.
                  Infrequently photographer.
                </div>
              </div>

            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
