---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta date">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<div class="footer">
  <div class="avatar">
    <img src="/images/avatar.png" width="80px">
  </div>
  <div class="bio">
    <div class="name">
      <a href="http://www.marcosero.com" target="_blank">Marco Sero</a><br />
    </div>
    <div class="social">
      <a href="http://www.twitter.com/marcosero" title="twitter" target="_blank">
        <i class="icon-twitter"></i>
      </a>
      <a href="http://www.github.com/marcosero" title="github" target="_blank">
        <i class="icon-github"></i>
      </a>
    </div>
    <div class="description">
      iOS Software Engineer. Computer Programmer.<br>
      Dogged reader. Quiet gamer. Infrequently photographer.
    </div>
  </div>
</div>
